.card-body {
    padding: 15px;
    background-color: #fff;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    overflow: hidden;
}

.card-body:hover {
    transform: translateY(-8px);
}

.card-body:hover .card-text {
    color: #000;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #1461d4;
    transition: all 0.3s ease;
}

.card-text {
    font-size: 1.2rem;
    color: #d7dde4;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    font-weight: 400;
}

.fas {
    color: #1461d4;
    transition: all 0.3s ease;
}

