.shifts-split {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}

.shifts-table {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #000000;
}

.shift-form {
    flex: 0.5; /* Reduce the width of the form section */
    background-color: #f9f9f9;
    padding: 0 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="time"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

input[type="text"]:focus,
input[type="time"]:focus {
    border-color: #1461d4;
    outline: none;
}

button {
    padding: 8px 16px;
    font-weight: 600 !important;
    color: white;
    border-radius: 10px;
    background-color: #1461d4;
    box-shadow: 0 2px 4px rgba(215, 221, 228, 0.5);
    cursor: pointer;
    transition: all 0.2s ease;
}

button[type="submit"] {
    border: 2px solid #1461d4;
    background-color: #1461d4;
}

button[type="submit"]:hover {
    transform: translateY(-3px);
}

@media (max-width: 1200px) {
    h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .shifts-table {
        margin-right: 0;
    }

    .shifts-split {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .shifts-table {
        width: 100% !important;
    }

    .shift-form {
        width: 100% !important;
        margin-bottom: 20px;
        padding: 0;
    }
}