/* General Styles */
body {
    background-color: #f8f9fa;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
.table th {
    background-color: #f8f9fa;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
}

/* Operator Assignment Styles */
.operator-assignment {
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    margin-bottom: 5px;
}

.operator-selection {
    padding: 10px;
}

/* Badge Styles */
.badge {
    font-size: 0.9em;
    padding: 5px 10px;
}

/* Button Styles */
.btn-sm {
    margin: 2px;
}

button {
    transition: all 0.2 ease;
}

button:hover {
        transform: translateY(-3px);
}

/* Icon Styles */
.btn i {
    font-size: 1.5em; /* Adjust the size of the icons */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Styles */
.modal-content {
    border-radius: 0;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

/* Form Styles */

.form-control, .form-select {
    border-radius: 7px !important;
    padding: 6px 10px !important;
    border: 1px solid #d7dde4 !important;
}

.form-check-input {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #d7dde4 !important;
}

.form-check-input:checked {
    background-color: #1461d4 !important;
    border-color: #1461d4 !important;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: #1461d4 !important;
}


.btn {
    border-radius: 7px !important;
    padding: 5px !important;
    transition: background-color 0.3s ease;
}

#btn-text {
    padding: 5px 10px !important;
    font-weight: 600 !important;
}

.btn-primary {
    background-color: #1461d4 !important;
    border-color: #1461d4 !important;
}

.btn-success {
    background-color: #0a8231 !important;
    border-color: #0a8231 !important;
}

.btn-danger{
    background-color: #d51837 !important;
    border-color: #d51837 !important;
}

.btn-light {
    background-color: rgb(215, 221, 228) !important;
    border-color: #d7dde4 !important;
    color: #000 !important;
}

.btn-secondary {
    background-color: #8b929a !important;
    border-color: #8b929a !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Custom badge colors */

.badge {
    background-color: transparent !important;
    text-align: center !important;
    padding: 3px 6px 4px 6px !important;
    border-radius: 7px !important;
    font-size: 0.9em !important;
    font-weight: 600 !important;
    
}

.bg-secondary {
    color: #8b929a !important;
    border: 2px solid #8b929a !important;
}

.bg-danger {
    color: #d51837 !important;
    border: 2px solid #d51837 !important;
}

.bg-success {
    color: #0a8231 !important;
    border: 2px solid #0a8231 !important;
}

.card {
    border-radius: 0.8rem;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(215, 221, 228, 0.5);
    overflow: hidden;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.card-body {
    padding: 15px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .table-responsive {
        font-size: 0.9em;
    }
    
    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }
}

/* Schedule Table Styles */
.table-bordered td {
    min-width: 150px;
}

/* Navigation Styles */
.navbar {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #1b1b1b;
    color: #fff;
}
navbar .nav-link {
    color: #fff;
}

/* Alert Styles */
.alert {
    border-radius: 0;
    margin-bottom: 20px;
}
